
# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/artisanlink

# JWT Secret
JWT_SECRET=fjlksjlkfnlnslmnfJDOFJD99U777HIHFI999
JWT_EXPIRY=7d

# Cloudinary (for future image uploads)
CLOUDINARY_CLOUD_NAME=drewt70s4
CLOUDINARY_API_KEY=378133336163424
CLOUDINARY_API_SECRET=Ip4Ir53m9OhVs1iUVtvO92eu52M
